@import url(style_media.css);

/* .vlab-colors {
  green: #98CB3B;
  dark-blue: #176696;
  lighter-dark-blue: #2C9AD1;
  grey: #96A0A3;
  white: #FFFFFF;
} */

/* body {
  background-color: #ffffff;
  margin: 0.5%;
  height: 80vh;
} */


body {
  background-color: #ffffff;
  padding: 10 px;
}

.content {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  /* align-items: center; */
}

#network {
  width: 100%;
  height: 78vh;
  border: 1px solid black;
}

#input-box{
  width: 40vw;
}

.p2-network{
  width: 60vw !important;
  height: 77vh !important;
  border: 1px solid black;
}

.button {
  padding: 5px 20px;
  height: 40px;
  border: none;
  /* border-radius: 4px; Rounded corners */
  background-color: rgb(160, 212, 255); /* Default button color */
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Elevated shadow */
}
.button2{
  padding-top: 0;
  width: 30px;
  border-radius: 8px;
}
.button2:active{
  background-color: #004976; /* Darker color when depressed */
  color: #ffffff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* Inner shadow */
}
.button-leftEnd{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.button-rightEnd{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.button:active {
  transform: translateY(2px); /* Simulates button press */
}
.button.depressed {
  background-color: #004976; /* Darker color when depressed */
  color: #ffffff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* Inner shadow */
}
.button:disabled {
  cursor: not-allowed; /* Disable pointer events */
  color: #666666; /* Gray text when disabled */
}
.block-button{
  padding: 10px 20px;
  border: none;
  /* border-radius: 4px; Rounded corners */
  background-color: rgb(160, 212, 255); /* Default button color */
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Elevated shadow */
  padding-top: 0;
  width: 30px;
  border-radius: 8px;
  cursor: not-allowed;
}
.block-button.depressed{
  background-color: #004976; /* Darker color when depressed */
  color: #ffffff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* Inner shadow */
  transform: translateY(2px); /* Simulates button press */

}